mat-toolbar{
    background-color: rgb(7, 45, 71);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: contents;
}

a {
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

::ng-deep .mat-raised-button  {
    background-color: rgb(164, 227, 246);
}